<span style="margin-top: 50px; text-align: center;">
    <a href="https://connect.stripe.com/oauth/authorize?response_type=code&amp;client_id={{clientid}}&amp;scope=read_write">
         <img src='stripe-button.png' alt="stripe-connect" style="display: block; margin-top:100px ;margin-left: auto; margin-right: auto; center;"/>
    </a>
</span>